/* CSS untuk styling navbar */
header {
    background-color: #2c3e50;
    /* Warna latar belakang navbar */
    color: #fff;
    /* Warna teks */
    padding: 20px;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    color: #fff;
    /* Warna teks tautan */
    text-decoration: none;
    font-weight: bold;
}

nav ul li a:hover {
    color: #3498db;
    /* Warna teks tautan saat dihover */
}


/* CSS untuk styling carousel */
#carousel {
    width: 100%;
    overflow: hidden;
    position: relative;
    background-color: #ecf0f1;
    /* Warna latar belakang carousel */
}

#carousel .carousel-item {
    display: none;
}

#carousel .carousel-item img {
    width: 40%;
    height: auto;
    display: block;
    margin: 0 auto;
}

#carousel .carousel-item.active {
    display: block;
}

#carousel .prev,
#carousel .next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: #34495e;
    /* Warna tombol prev/next */
    color: #fff;
    padding: 10px;
    cursor: pointer;
}

#carousel .prev {
    left: 10px;
}

#carousel .next {
    right: 10px;
}

#carousel .prev:hover,
#carousel .next:hover {
    background-color: #2c3e50;
    /* Warna tombol prev/next saat dihover */
}



/* css untuk tampilan product api */
/* css formnya */
form {
    background-color: #f9f9f9;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    width: 300px;
    margin: 0 auto;
}

h2 {
    text-align: center;
    margin-top: 0;
    margin-bottom: 20px;
    color: #333;
}

label {
    display: block;
    margin-bottom: 5px;
    color: #555;
}

input[type="text"],
input[type="file"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 16px;
}

input[type="file"] {
    cursor: pointer;
}

input[type="submit"] {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

input[type="submit"]:hover {
    background-color: #45a049;
}


/* css tablenya */
table {
    width: 100%;
    border-collapse: collapse;
    border: 2px solid #0d0c0c;
    margin-bottom: 40px;
}

th {
    text-align: center;
    border: 2px solid #0d0c0c;
    /* Judul tabel rata tengah */
    background-color: #f2f2f2;
    /* Warna latar belakang judul tabel */
    padding: 10px;
}

td {
    padding: 10px;
    border: 2px solid #0d0c0c;
    /* Menambahkan border pada semua sisi */
    text-align: left;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

tr:hover {
    background-color: #ddd;
}